<!DOCTYPE html>
<html>
  <head>
      <title>Graphtest output</title>
          <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='force.css') }}"/>
  </head>
<body>
        <p>Graphtest output</p>
        <p>{{ url_for('static', filename='force_active.js') }}</p>
        <p>{{ session.get('pmid_lst',0) }}</p>
        <div id="chart"></div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
        <script type="text/javascript">

			var width = 1200,
			    height = 1000,
				fill = d3.scale.category20(),
				radius = 7;

			var svg = d3.select("body").append("svg")
			    .attr("width", width)
				.attr("height", height);

			var force = d3.layout.force()
		    	.gravity(.05)
		    	.distance(100)
		    	.charge(-100)
		    	.size([width, height]);
			
			function handleMouseOver(d, i) {
				d3.select(this).select("text").style({
					visibility: "visible"
				})
				d3.select(this).select("circle").style({
					fill: "orange"
				})
				d3.select(this).select("circle").attr({
					r: radius*2
				})
			}

			function handleMouseOut(d, i) {
				d3.select(this).select("text").style({
					visibility: handleVisibility
				})
				d3.select(this).select("circle").style({
					fill: function(d) {return fill(d.group); }
				})
				d3.select(this).select("circle").attr({
					r: radius
				})
			}

			function handleVisibility(d) {
				if (d.group == "Searched") {
					return "visible";
				} else {
					return "hidden";
				}
				//return "visible";
			}

			svg.append("rect")
				.attr("width","100%")
				.attr("height","100%")
				.attr("fill", "grey");

			//svg.append("a")
			  // .attr("xlink:href", "http://www.google.com")
			//   .append("rect")
			//	.attr("x",100)
			//	.attr("y",100)
			//	.attr("height",100)
			//	.attr("width",100)
			//	.style("fill", "white");

			d3.json("{{ url_for('graphtest_data') }}", function(json) {
				force
				.nodes(json.nodes)
				.links(json.links)
				.start();

				var link = svg.selectAll(".link")
						      .data(json.links)
							  .enter().append("line")
							  .attr("class", "link")
							  .style("stroke-width", function(d) { return Math.sqrt(d.weight); });
				var node = svg.selectAll(".node")
						      .data(json.nodes)
							  .enter().append("g")
							  .attr("class", "node")
							  .call(force.drag)
							  .on("mouseover", handleMouseOver)
							  .on("mouseout", handleMouseOut);

				//var a = svg.selectAll(".node")
				//		.attr("class", "clickable")
				//		      .data(nodes)
				//			       .enter().append("a")

				node.append("circle")
						      .attr("r",radius)
							  .style("fill", function(d) { return fill(d.group); });
				//node.select("g")
				//		.append("a")
				//		.attr("xlink:href", "www.google.com")
				//		.append("rect")
				//		.attr("x",100)
				//		.attr("y",100)
				//		.attr("height",100)
				//		.attr("width",100)
				//		.style("fill","white");

				node.append("text")
						      .attr("dx", 12)
							  .attr("dy", ".35em")
							  .text(function(d) { return d.name })
							  .style("visibility", handleVisibility);//function(d) { return "visible"; });
							  //.append("a")
							  //.attr("href", "http://www.google.com")
							  //.attr("target", "_blank");
			    

				//var outlink = svg.selectAll(".node")
				//		.data(json.nodes)
				//		.enter().append("a")
				//		.attr("xlink:href", "http://www.google.com")
				//		.call(force.drag)
				//outlink.append("circle")
				//	.attr("r", radius)
				//	.style("fill", "black");
				//node.select("a")
				//		.attr("href", "http://www.google.com")
				//		.attr("target", "_blank");
				//node.append("svg:a")
				//		.attr("xlink:href", "http://www.google.com")
				//		.attr("class", "clickable");

				force.on("tick", function() {
						    link.attr("x1", function(d) { return d.source.x; })
								.attr("y1", function(d) { return d.source.y; })
								.attr("x2", function(d) { return d.target.x; })
								.attr("y2", function(d) { return d.target.y; });
							node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

			});
		});
		</script>
</body>
</html>
