<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Brightfield</title>

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }} ">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico') }} ">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ url_for('static', filename='images/favicon/favicon-192.png') }} ">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ url_for('static', filename='images/favicon/favicon-160.png') }} ">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon/favicon-96.png') }} ">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ url_for('static', filename='images/favicon/favicon-64.png') }} ">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32.png') }} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16.png') }} ">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon/favicon-57.png') }} ">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/favicon/favicon-114.png') }} ">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/favicon/favicon-72.png') }} ">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicon/favicon-144.png') }} ">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/favicon/favicon-60.png') }} ">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/favicon/favicon-120.png') }} ">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon/favicon-76.png') }} ">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/favicon/favicon-152.png') }} ">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/favicon/favicon-180.png') }} ">
    <meta name="msapplication-TileColor" content="#FFFFFF') }} ">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/favicon/favicon-144.png') }} ">
    <meta name="msapplication-config" content="{{ url_for('static', filename='images/favicon/browserconfig.xml') }} ">
    <!-- ****** faviconit.com favicons ****** -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  </head>
  <body>
    <div id="app"/>
    <script src="{{ url_for('static', filename='scripts/js/routehandler.js') }}"></script>
  </body>
</html>
