.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 75, 75, 75, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}

.link {
  fill: none;
  stroke: #666;
}

.node {
	fill: #777;
	stroke: #777;
	stroke-width: 2px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.bm-burger-button: {
    position: fixed;
        width: 36px;
        height: 30px;
    left: 36px;
    top: 36px;
}
.bm-burger-bars: {
    background: #373a47;
}
.bm-cross-button: {
    height: 24px;
    width: 24px;
}
.bm-cross: {
    background: #bdc3c7;
}
.bm-menu: {
    background: #ffffff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
        color: #000000;
        a {
                color: #000000;
        }
}
.bm-morph-shape: {
    fill: #373a47;
  }
.bm-item-list: {
    color: #000000;
    padding: 0.8em;
    font-weight: 700;
    span {
                color: #000000;
        },
    a {
            color: #000000;
        }
}
.bm-overlay: {
    background: 'rgba(0, 0, 0, 0.3)'
  }
.bm-menu-wrap: {
        bottom: 0px;
        left: 0px;
        width: 20%;
  a {
        color: #000000;
  }
}
